.transaction-page h1 {
  font-size: 28px;
  font-weight: 200;
}

.transaction-page-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.transaction-list, .transaction-add-form {
  width: 45%;
}

.transaction-item {
  display: block;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #4D4F57;
  padding: 15px 20px;
  border-radius: 10px;
}

.transaction-item.credit-transaction {
  background-color: #EC6008;
}
.transaction-item.debit-transaction {
  background-color: #656C72;
}

.transaction-item__transaction-title{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.transaction-item__transaction-fullinfo {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
}

.transaction-item__transaction-fullinfo span{
  display: inline-block;
  width: 40%;
  font-weight: 500;
}

.arrow {
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.transaction-item.active .arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.transaction-form h4 {
  font-size: 25px;
  margin: 0;
  font-weight: 200;
}

.add-transaction-form {
  padding: 30px 0;
}

.transaction-form-field {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.transaction-form input {
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

.transaction-form .transaction-form-elem {
  width: 60%;
}

.transaction-form .transaction-form-elem  input,
.transaction-form .transaction-form-elem .react-datepicker-wrapper
{
  width: 100%;
}

.transaction-form-button {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #656C72;
  color: #FFFFFF;
}

.transaction-form-error {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  color: #EC6008;
}

